h1{
    color: brown;
    text-align: center;
}
.HALF{
   text-align: justify;
   width: 50%;

}
img{
    float: center;
}
.img1{
    float: right;
}

.fixed{
    position: -webkit-sticky;
    position: sticky;
}

University of Barishal is called the Ox-ford of
        south Bangla. Most of the intillengent student in south bangla study at University of Barishal. University of Barishal establised in 2010 at Karnokadhi,Barishal sadar, in Barishal distric. It is the most famous universities in Bangladesh. Most of students here, they lead in Bangladesh as well as international place. University of Barishal has 24 department uder the 4 divsion. The most popular department are Computer Science and Engineering(CSE), Biochemistry and Bio-tecnology, Chemistry,Physics,Mathematics,Botany,Soil and Enviroment Science,Costal and Dis-star,Economics,Statistic,Bangla,English,Law,Political Science,History,Plilosiphy,Public Adminstration,Marketing,Management,Accounting and Information,Finance and Banking etc. There have four hall, one central library, one Mosque and one cafatria for students. There have more organaziation for extra-curriculam activities for students. These organization are Bangla devating club, English devating club,Badhon(Bollod collection),BU-redio(for news publish),BU-IT-society,BU-carrier Club.